.todoCard{
    box-shadow: var(--card-shadow);
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, sans-serif;
      /* border: 20px; */
      background: var(--card-bg);
      /* margin: 20px; */
      border-radius: 30px;
      background-color: white;
      width: 90%;
      min-height: 300px;
    .todoTitle{
        font-weight: 500;
    }
}
.centerAlign{
    display: flex;
    justify-content: center;
}
   .todoIcon{
    text-align: center;
        img{
            max-width: 200px;
        }
    }
    .todoDetails{
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        color: #646667;
        float: inline-end;
        /* margin-top: auto; */
    }
    .createButton{
        float: right;
        background:#00b7eb  ;
        border-radius: 100%;
        border: 1px solid white;
        color: white;
        font-weight: 900;
        padding: 20 px;
        font-size: 20px;
        width: 50px;
        height: 50px;
        top: 60px;
        right: 5px;
        position: fixed;
    }